<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>邮·订阅</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="header">
    <div class="top-header">
        <div id="divlogo">
            <img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo-01.png" width="193" height="50" alt="logo">
        </div>
        <div id="iconmenu">
        <ul id="uliconmenu">
            <li><a class="ac" href="/register">注册</a></li>
            <li><a class="ac" href="/login">登录</a></li>
        </ul>
        </div> 
       <div class="cate-header">
           <div id="divmenu">
           <ul id="ulmenu">
               <li><a class="ac"  href="/">首页</a></li>
               <li><a class="ac" href="/?cat=hot">热门</a></li>
               <li><a class="ac" href="/?cat=album">精选</a></li>
           </ul>
           </div>  
       </div>
   </div>    
</div>

<div class="mainpart">
    <div class="toppart">
        <div class="keyword_card">
            <p class="cardtopic">
            {{.Card.Topic}}
            </p>
        </div>
            <p class="yesterdayadd">
            过去一天内新增数:{{.YesterdayAdd}}
            </p>   
    </div>
        <div class="detailpart">
            <ul class="ul_detail">
                {{range .Card.Feeds}}
                <li class="li_detail">
                    <a class="a_detail" href="{{.Url}}">{{.Title}}</a>
                </li>
                {{end}}
            </ul>
        </div>
</div>
</body>
</html>
