<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>邮·订阅</title>

        <link rel="icon" href="http://7viirv.com1.z0.glb.clouddn.com/youdingyue_favicon.png" sizes="32x32" />  
        <link rel="stylesheet" href="css/style.css">
        <script>
            window.onload = function() {
            }

            function getCardFlow(msgs) {
                var cardflows = document.getElementsByClassName("cardflow");
                for (var i = 0; i < msgs.length; i++) {
                    var card = document.createElement("div");
                    card.setAttribute("class", "card");
                    cardflows[i%2].appendChild(card);
                }
                var cards = document.getElementsByClassName("card");
                for (var i = 0; i < cards.length; i++) {
                    var cardmain = document.createElement("div");
                    cardmain.setAttribute("class", "cardmain");
                    cards[i].appendChild(cardmain);
                }
                var cardmains = document.getElementsByClassName("cardmain");
                for (var i = 0; i < cardmains.length; i++) {
                    var keyword = document.createElement("div");
                    keyword.setAttribute("class", "keyword");
                    cardmains[i].appendChild(keyword);
                    var cardtitle = document.createElement("div");
                    cardtitle.setAttribute("class", "cardtitle")
                    cardmains[i].appendChild(cardtitle);
                }
                var keywords = document.getElementsByClassName("keyword");
                for (var i = 0; i < keywords.length; i++) {
                    var divcenter = document.createElement("div");
                    divcenter.setAttribute("class", "divcenter");
                    keywords[i].appendChild(divcenter);
                }
                var divcenters = document.getElementsByClassName("divcenter");
                for (var i = 0; i < divcenters.length; i++) {
                    var ak = document.createElement("a");
                    ak.setAttribute("class", "ak");
                    ak.innerHTML=msgs[i].Topic;
                    ak.onclick = getDetails;
                    divcenters[i].appendChild(ak);
                    var add = document.createElement("P");
                    add.setAttribute("class", "yesterdayadd");
                    add.innerHTML="过去一天新增数：" + msgs[i].PastDayAdd;
                    divcenters[i].appendChild(add);
                }
                var cardtitles = document.getElementsByClassName("cardtitle");
                for (var i = 0; i < cardtitles.length; i++) {
                    var titlelist = document.createElement("ul");
                    titlelist.setAttribute("class", "titlelist");
                    cardtitles[i].appendChild(titlelist);
                }
                var titlelists = document.getElementsByClassName("titlelist");
                for (var i = 0; i < titlelists.length; i++) {
                    for (var j = 0; j < 5; j++) {
                        var singletitle = document.createElement("li");
                        singletitle.setAttribute("class", "singletitle");
                        titlelists[i].appendChild(singletitle);
                    }
                }
                var singletitles = document.getElementsByClassName("singletitle");
                for (var i = 0; i < titlelists.length; i++) {
                    for (var j = 0; j < 5; j++) {
                        var al = document.createElement("a");
                        al.setAttribute("class", "al");
                        al.innerHTML=msgs[i].Feeds[j].Title;
                        al.href=msgs[i].Feeds[j].Url;
                        titlelists[i].childNodes[j].appendChild(al);
                    }
                }
            }
            function getDetails() {
                var keyword = this.innerHTML;
                var scriptelement = document.createElement("script");
                var url = "http://api.ydy.yanyiwu.com/carddetail" + "?k=" + keyword + "&callback=showdetails";
                scriptelement.setAttribute("src", url)
                var body = document.getElementsByTagName("body")[0];
                var divcontent = document.getElementsByClassName("content content0")[0];
                body.removeChild(divcontent);
                var mainpart = document.createElement("div");
                mainpart.setAttribute("class", "mainpart");
                body.appendChild(mainpart);
                body.appendChild(scriptelement);
                var toppart = document.createElement("div");
                toppart.setAttribute("class", "toppart");
                mainpart.appendChild(toppart);
                var detailpart = document.createElement("div");
                detailpart.setAttribute("class", "detailpart");
                mainpart.appendChild(detailpart);
                var cardtopic = document.createElement("p");
                cardtopic.setAttribute("class", "cardtopic");
                cardtopic.innerHTML=keyword;
                toppart.appendChild(cardtopic);
                var yesterdayadd = document.createElement("p");
                yesterdayadd.setAttribute("class", "yesterdayadd");
                toppart.appendChild(yesterdayadd);
                var uldetail = document.createElement("ul");
                uldetail.setAttribute("class", "ul_detail");
                detailpart.appendChild(uldetail);
                for (var i = 0; i < 20; i++) {
                    var lidetail = document.createElement("li");
                    lidetail.setAttribute("class", "li_detail");
                    uldetail.appendChild(lidetail);
                }
            }
            function showdetails(detail) {
                var yesterdayadd = document.getElementsByClassName("yesterdayadd")[0];
                yesterdayadd.innerHTML="过去一天新增数: "+ detail.PastDayAdd;
                var lidetails = document.getElementsByClassName("li_detail");
                for (var i = 0; i < 20; i++) {
                    lidetails[i].innerHTML=detail.Feeds[i].Title;
                }
            }


        </script>
    </head>
    <body>
        <div class="header">
            <div class="top-header">
                <div id="divlogo">
                    <img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo-01.png" width="193" height="50" alt="logo">
                </div>
                <div id="iconmenu">
                    <ul id="uliconmenu">
                        <li><a class="ac" href="/register">注册</a></li>
                        <li><a class="ac" href="/login">登录</a></li>
                    </ul>
                </div>      
            </div>

            <div class="cate-header">
                <div id="divmenu">
                    <ul id="ulmenu">
                        <li><a class="ac" href="/">热门</a></li>
                        <li><a class="ac" href="/?cat=random">随机</a></li>
                    </ul>
                </div>  
            </div>
        </div>
        <div class="content content0"> 

            <div class="centerarea">
                <div class="cardflow">
                </div>
                <div class="cardflow">
                </div>
                <script src="http://api.ydy.yanyiwu.com/cardlist?callback=getCardFlow">
                </script>
                <!--
                {{range .CardFlows}}
                <div class="cardflow">
                    {{range .Cards}}
                    <div class="card">
                        <div class="cardmain">
                            <div class="keyword">
                                <div align="center">
                                    <a class="ak" href="/card?k={{.Topic}}">
                                        {{.Topic}}
                                    </a>
                                    <p class="yesterdayadd">
                                    过去一天新增数:{{.YesterdayAdd}}
                                    </p>   
                                </div>
                            </div>
                            <div class="cardtitle">
                                <ul class="titlelist">
                                    {{range .Feeds}}
                                    <li class="singletitle">
                                    <a class="al" href="{{.Url}}" target="_blank">{{.Title}}</a>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
                {{end}}
                -->
            </div>
        </div>

        <!--
        <div class="footer">
            <div class="about">
                Infor-u-mation
            </div>
        </div>
        -->
    </body>
</html>
