<!DOCTYPE html>
<html ng-app="infor-you-mation">
    <head>
        <title>邮·订阅</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/register.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="header">
            <div class="header__logo-wrapper">
                <a href="/"><img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo-01.png" id="header__logo"></a>
            </div>
            <div class="header__nav-wrapper">
                <h1 class="header__welcome"> Hello, 欢迎来到邮订阅~</h1>
                <div class="header__btn-wrapper">
                    <a href="/#/login">登录</a>
                    <a href="/#/register">注册</a>
                </div>
            </div>
        </div>
        <div id="main">
            <div ng-view></div>
        </div>
        <div class="footer__btn-wrapper">
            <a href="/#/login">登录</a>
            <a href="/#/register">注册</a>
        </div>
    </body>
</html>
<script src="javascripts/angular/angular.min.js"></script>
<script src="javascripts/angular/angular-route.min.js"></script>
<script src="javascripts/index.js"></script>
