<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>登录</title>
<link type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
<div class="header">
     <div class="top-header">
          <div id="divlogo"><img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo-01.png" width="193" height="50" alt="logo">
         </div>
         <div id="toptitle">
              <p id="welcome">欢 迎 登 录 邮·订阅</p>
         </div>  
     </div>    
</div>

<div class="content content1">
     <div class="centerarea">
          <div class="cardpart" style="position:absolute;left:0px;top:0px">
              <div id="logo">  <img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo.png" width="300px" height="300px" alt="邮·订阅"></img>
              </div>
         </div>
         <div class="cardpart" style="position:absolute;left:50%;top:0px">
             <div id="formbox">
                  <form action="/login" method="post"  id="loginform">
        <p>用户名:
            <input id="username" type="text" name="username">
            </input>
        </p>
        <p>密码:
             <input id="inputpwd" type="password" name="password">
            </input>
        </p>
        <p>
            <input  id="login" type="submit" value="登录">
            </input>  
            <a href="#" >注册</a>    
       </p>
      </form>
            </div>
         </div>
     </div>
</div>

<div class="footer">
    <div class="about">
    Infor-u-mation
    </div>

</div>
</body>
</html>
