<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>注册</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    </head>
</head>

<body>
    <div class="header">
        <div class="top-header">
            <div id="divlogo"><img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo-01.png" width="193" height="50" alt="logo">
            </div>
            <div id="toptitle">
                <p id="welcome">欢 迎 注 册 邮·订阅</p>
            </div>  
        </div>    
    </div>

    <div class="content content1">
        <div class="centerarea">
            <div class="cardpart" style="position:absolute;left:0px;top:0px">
                <div id="logo">  <img src="http://7viirv.com1.z0.glb.clouddn.com/ulogo.png" width="300px" height="300px" alt="邮·订阅"></img>
                </div>
            </div>
            <div class="cardpart" style="position:absolute;left:50%;top:0px">
                <div id="formbox">
                    <form action="/users/register" method="post"  id="registerform">
                        <p>用户名:
                        <input type="text" id="username" name="username">
                        </input>
                        </p>
                        <p>密码:
                        <input id="inputpwd"  type="password" name="password">
                        </input>
                        </p>
                        <p>确认密码:
                        <input id="confirmpwd" type="password" name="checkpassword" >
                        </input>
                        </p>
                        <p style="display:<%= display %> ">输入密码错误 请重新输入！</p>
                        <p>
                        <input class="button" type="submit" id="confirm" value="确定">
                        </input>  

                        <input class="button" type="reset" id="reset" value="重置">
                        </input>    
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="about">
            Infor-u-mation
        </div>
        <!--<p style="clear:both"><%= powerBy %></p>-->

    </div>
</body>
</html>
