<div class="main-container">
    <div class="cardflow-wrapper">
        <div class="cardflow">
            <div class="card-wrapper" ng-repeat="x in lists | orderBy:'total':true | filter: notEmpty">
                <div ng-if="$even" class="card">
                    <div class="card__top">
                        <a href="/#/list/{{x.topicId}}">{{x.topic}}</a> <span class="total"> Total: {{x.total}}</span>
                    </div>
                    <ul class="card__list" ng-repeat="x in x.jobs">
                        <li class="card__list__item">
                        <span class="source">{{x.source}}</span>
                        <a href="/#/detail/{{x.id}}">{{x.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cardflow">
            <div class="card-wrapper" ng-repeat="x in lists | orderBy:'total':true | filter: notEmpty">
                <div ng-if="$odd" class="card">
                    <div class="card__top">
                        <a href="/#/list/{{x.topicId}}">{{x.topic}}</a> <span class="total"> Total: {{x.total}}</span>
                    </div>
                    <ul class="card__list" ng-repeat="x in x.jobs">
                        <li class="card__list__item">
                        <span class="source">{{x.source}}</span>
                        <a href="/#/detail/{{x.id}}">{{x.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cardflow" id="cardTotal">
            <div class="card-wrapper" ng-repeat="x in lists | orderBy:'total':true | filter: notEmpty">
                <div  class="card">
                    <div class="card__top">
                        <a href="/#/list/{{x.topicId}}">{{x.topic}}</a> <span class="total"> Total: {{x.total}}</span>
                    </div>
                    <ul class="card__list" ng-repeat="x in x.jobs">
                        <li class="card__list__item">
                        <span class="source">{{x.source}}</span>
                        <a href="/#/detail/{{x.id}}">{{x.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
