body {
	display: block;
	margin: 0px;
	padding: 0px;
	background-color: rgba(238, 233, 233, 0.97);
	width:100%;
}
.header {
	height: 50px;
	width: 100%;
	border-bottom-width: 4px;
	border-bottom-color: #C8CFC1;
	position: fixed;
	z-index:300;
	border-bottom-style: solid;
}
.top-header {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.85);
}
#divlogo {
	position: relative;
	height: 50px;
	width: 193px;
	padding: 0px;
	float: left;
	margin-left: 15px;
	margin-right:15px;
}
#iconmenu {
	padding: 0px;
	float: right;
	height: 50px;
	width: 193px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	position: relative;
	z-index:1;
}
#iconmenu ul li {
	float: right;
	height: 20px;
	width:30%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}
.ac{
	text-decoration: none;
	color: rgba(0, 102, 0, 0.56);
	font-size: 18px;
	font-family: Verdana, Geneva,Arial, sans-serif;
	font-weight: bold;
	
}

.ac:hover{
	color: rgba(153,204,0,0.56);
}
#uliconmenu {
	list-style-type: none;
	margin: 0px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	height: 30px;
	width: 193px;
}
.cate-header {
	position: absolute;
	height: 40px;
	width: 100%;
	top: 5px;
}
#divmenu {
	display: inline-block;
	padding: 0px;
	height: 40px;
	width: 65%;
	margin-top: 0%;
	margin-right: 17.5%;
	margin-bottom: 0%;
	margin-left: 17.5%;
	position: relative;	
}
#ulmenu {
	list-style-type: none;
	height: 30px;
	width: 50%;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left:25%;
	margin-right:25%;
}
#ulmenu li {
	float: left;
	height: 20px;
	width: 33.33%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	display:inline-block;
	
}
.mainpart{
	position:relative;
	width:100%;
	height:1000px;
	top:90px;
	padding:0px;
}
.leftpart{
	position:relative;
	float:left;
	width:20%;
	height:100%;
	padding:0px;
}
.rightpart{
	position:relative;
	float:left;
	width:80%;
	height:100%;
	padding:0px;
}
.keyword_card{
	position:relative;
	float:left;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	height:65px;
	padding:0px;
	background-color:rgba(118, 131, 121, 0.08);
	border-radius:30px;
}
.keyword{
	color:rgba(42, 88, 36, 0.55);
    font-size:35px;
	margin:0px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	font-family:STXinwei;
	font-weight:normal;
}
.detailpart{
	position:relative;
	width:75%;
	height:100%;
	margin-right:25%;
	padding:0px;
}
.ul_detail{
	position:relative;
	width:90%;
	height:100%;
	margin-top:0;
	margin-bottom:0;
	margin-left:5%;
	margin-right:5%;
	padding:0px;
	list-style-type: thai;
    list-style-position: inside;
}
.li_detail{
	width:90%;
	margin-top:0;
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:25px;
	padding-right:10px;
	background-color:rgba(255, 255, 255, 0.52);
	border-radius:10px;
}
.a_detail{
	text-decoration:none;
	color:black;
	font-size:22px;
}
