
body {
	display: block;
	margin: 0px;
	padding: 0px;
	background-color: rgba(238, 233, 233, 0.97);
	width:100%;
}
.header {
	height: 50px;
	width: 100%;
	border-bottom-width: 4px;
	border-bottom-color: #C8CFC1;
	position: fixed;
	z-index:300;
	border-bottom-style: solid;
}
.top-header {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.85);
}
#divlogo {
	position: relative;
	height: 50px;
	width: 193px;
	padding: 0px;
	float: left;
	margin-left: 15px;
	margin-right:15px;
}
#iconmenu {
	padding: 0px;
	float: right;
	height: 50px;
	width: 193px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	position: relative;
	z-index:1;
}
#iconmenu ul li {
	float: right;
	height: 20px;
	width:30%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}
a{
	text-decoration: none;
	color: rgba(0, 102, 0, 0.56);
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

a:hover{
	color: rgba(153,204,0,0.56);
}
#uliconmenu {
	list-style-type: none;
	margin: 0px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	height: 30px;
	width: 193px;
}
.cate-header {
	position: absolute;
	height: 40px;
	width: 100%;
	top: 5px;
}
#divmenu {
	display: inline-block;
	padding: 0px;
	height: 40px;
	width: 65%;
	margin-top: 0%;
	margin-right: 17.5%;
	margin-bottom: 0%;
	margin-left: 17.5%;
	position: relative;	
}
#ulmenu {
	list-style-type: none;
	height: 30px;
	width: 50%;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left:25%;
	margin-right:25%;
}
#ulmenu li {
	float: left;
	height: 20px;
	width: 33.33%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	display:inline-block;
	
}
#toptitle{
	position:absolute;
	width:500px;
	height:50px;
	margin-left:30%;
	margin-right:30%;
	padding:0px;
	line-height:50px;
}
#welcome{
	text-align:center;
	font:"Arial Black", Gadget, sans-serif;
	font-size:20px;
	letter-spacing:10px;
	color:#666;
	margin:0px;
	padding:opx;
	vertical-align:middle;
}
.content， {
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: relative;
}
.content0{
	top:90px;
}
.content1{
	top:150px;
}
.centerarea {
	padding: 0px;
	height: 100%;
	width: 70%;
	margin-top: 0%;
	margin-right: 15%;
	margin-bottom: 0%;
	margin-left: 15%;
	position: relative;
	color: #666;
}
.cardflow {
    float: left;
    width: 50%;  
}
.card {
	margin: 0px;
	padding: 0px;
        width: 100%;
}
.cardmain {
	padding: 0px;
	width: 92%;
	margin-top: 0px;
	margin-right: 4%;
	margin-bottom: 10%;
	margin-left: 4%;
	background-color: #FFF;
	border-radius: 7px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:rgba(253, 248, 248, 0.97);
}
.keyword {
	position: relative;
	height: 30px;
	width: 90%;
	margin: 0px;
	line-height: 30px;
	color: #333;
	font-size: 18px;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 5%;
	background-color: #FFF;
	border-radius:7px;
}
.cardtitle {
	position: relative;
	width: 90%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
	background-color: rgba(156, 207, 158, 0.44);
}
.titlelist {
	width: 100%;
	position: relative;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
	border-radius:5px;
	list-style-type:circle;
	list-style-position:inside;
	
}
.singletitle {
	position: relative;
	width: 100%;
	margin:0px;
	padding:0px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#E4DFDF;
	background-color:rgba(253, 248, 248, 0.97);
	
}
.cardpart {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 400px;
	width: 50%;
}
#logo{
	width:300px;
	height:300px;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:16%;
	margin-right:16%;
	position:absolute;
}
#formbox{
	width:300px;
	height:300px;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:16%;
	margin-right:16%;
	position:absolute;
}
#loginform {
	display: inline;
	position: relative;
	float: left;
	height: 180px;
	width: 300px;
	text-align: center;
	padding-top: 60px;
	padding-bottom:60px;
	margin: 0px;
	line-height:60px;
} 
#registerform {
	display: inline;
	position: relative;
	float: left;
	height: 200px;
	width: 300px;
	text-align: center;
	padding-top: 50px;
	padding-bottom:50;
	margin: 0px;
	line-height:50px;
} 

p {
margin:0px;
}
#username{
	margin-left:15px;
}
#inputpwd{
	margin-left:31px;
}
#login{
	font-size:20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:23px;
	margin-right:10px;

}
.button{
	font-size:18px;
}	
#gif{
	width:300px;
	height:300px;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:16%;
	margin-right:16%;
	position:absolute;
}
.hint{
	width:248px;
	height:40px;
	line-height:40px;
	margin-top:130px;
	margin-bottom:130px;
	margin-left:50px;
	margin-right:50px;
	padding:50px;
	font-size:18px;
	position:absolute;
}

	
.footer {
	height:55px;
	width: 100%;
	background-color:rgba(248, 252, 247, 0.23);
	top:800px;
    position:absolute;
	border-top-style:solid;
	border-top-width:5px;
	border-top-color:rgba(146, 156, 144, 0.31);
}
.about{
	height:15px;
	width:40%;
	margin:0px;
	padding-left:30%;
	padding-right:30%;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:rgb(155, 162, 156);

}
